<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="card-title">{{company.name}}</h1>
                <p>{{company.sname}}</p>
            </div>
            <div class="col-sm-2">
                <button mat-button (click)="goBack()" class="btn btn-block btn-outline-secondary"><mat-icon>arrow_back</mat-icon> Back</button>
            </div>
        </div>

    </div>
    <div class="card-body">
        <mat-tab-group>
            <mat-tab label="Dasboard">
                <br>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Billing</h1>
                    </div>
                    <div class="card-body">
                        <div class="row row-chart">
                            <div class="col-sm-4">
                                <div class="card card-graf">
                                    <div class="card-body">
                                        <h1 class="card-title">EstimatedCharges</h1>
                                        <h1>4.58K</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card">
                                    <div class="card-body">
                                        <canvas style="height:  20vmax;width: 100vmax;" #line1>{{chart1}}</canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Processing</h1>
                    </div>
                    <div class="card-body">
                        <div class="row row-chart">
                            <div class="col-sm-6">
                                <div class="card card-graf">
                                    <div class="card-body">
                                        <canvas style="height:  20vmax;width: 100vmax;" #line2>{{chart2}}</canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card card-graf">
                                    <div class="card-body">
                                        <canvas style="height:  20vmax;width: 100vmax;" #line3>{{chart3}}</canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Storage</h1>
                    </div>
                    <div class="card-body">
                        <div class="row row-chart">
                            <div class="col-sm-12">
                                <div class="card card-graf">
                                    <div class="card-body">
                                        <canvas style="height:  10vmax;width: 100vmax;" #line4>{{chart4}}</canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Systems">
                <br>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="card-title">{{company.name}}</h1>
                            </div>
                            <div class="col-sm-2">
                                <button mat-button (click)="openSystemView()" class="btn btn-success btn-block"><mat-icon>add</mat-icon> System</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">

                            </div>
                            <div class="col-sm-4">
                                <mat-form-field style="width: 100%;" appearance="outline">
                                    <mat-label>Search</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search ...">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ip">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ip </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="hostname">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hostname </th>
                                        <td mat-cell *matCellDef="let element">{{element.hostname}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
                                        <td mat-cell *matCellDef="let element" style="width: 10%;">
                                            <div class="col-4"><span class="material-icons" matTooltip="edit">edit</span></div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>