<div class="card">
    <div class="card-header">
        <h1>Maintenance</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field class="full-with-form" appearance="outline">
                    <mat-label>Company</mat-label>
                    <mat-select (selectionChange)="selectCompany($event.value)">
                        <mat-option *ngFor="let company of companies" [value]="company">
                            {{company.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field class="full-with-form" appearance="outline">
                    <mat-label>Environment</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let environment of environments" [value]="environment.id">
                            {{environment.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field class="full-with-form" appearance="outline">
                    <mat-label>Solution</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let solution of solutions" [value]="solution.id">
                            {{solution.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor='let pr of prs' [value]='pr'>
                        {{pr}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <br>
        <ng-container>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Create Maitenance</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field class="full-with-form" appearance="outline">
                                        <mat-label>System</mat-label>
                                        <mat-select>
                                            <mat-option *ngFor="let system of systems" [value]="system.id">{{system.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <mat-form-field class="full-with-form" appearance="fill">
                                        <mat-label>Date Start</mat-label>
                                        <input matInput [matDatepicker]="start">
                                        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #start></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <mat-form-field class="full-with-form" appearance="fill">
                                        <mat-label>Date finish</mat-label>
                                        <input matInput [matDatepicker]="end">
                                        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #end></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin">Incident</mat-checkbox>
                                        <mat-checkbox class="example-margin">Maintenance</mat-checkbox>
                                    </section>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field class="full-with-form" appearance="outline">
                                        <mat-label>Service Now id (*)</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field class="full-with-form" appearance="outline">
                                        <mat-label>Description (*)</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-form-field class="full-with-form" appearance="outline">
                                        <mat-label>Details</mat-label>
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

</div>